[user]
  name = Lewis Steele
  email = lewis.steele@me.com
[core]
  editor = nvim
  pager = less --tabs 2
[commit]
  gpgsign = true
[pull]
  rebase = false
[push]
  autoSetupRemote = true
  followTags = true
[init]
  defaultBranch = main
[tag]
  gpgSign = true
